<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gavinmccoy.festivalsie" >



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseByDateAndLocationActivity"
            android:label="@string/title_activity_browse_by_date_and_location"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SearchFestivals"
            android:label="@string/title_search_festivals"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FindFestivalsByArtist"
            android:label="@string/title_activity_find_festivals_by_artist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FindFestivalsByArtistDetails"
            android:label="@string/title_activity_find_festivals_by_artist_details"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>



    <!-- Permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ACCESS_COARSE_LOCATION returns a location with an accuracy approximately equivalent to a city block.
         See http://developer.android.com/training/location/retrieve-current.html for details
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>
